{% extends 'base.html.twig' %}

{% block leftContent %}
<div>
    {{ userInfo.username }}<br>
    {{ userInfo.email }}
</div>
{% endblock %}

{% block mainContent %}
    Add new product
{% endblock %}

{% block rightContent %}
    User product list
{% endblock %}