<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ShopS{% endblock %}</title>
        {% block stylesheets %} {% endblock %}
        <link href="/css/default.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <div class='header row'>
        <ul class="main-menu">
            <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('basket') }}">Basket</a></li>
            <li><a href="{{ path('profile') }}">Add product</a>
            </li>
        </ul>
    </div>
    <div class='wrapper'>
       <img class="logo" src="/images/Welcome.png" alt=""/>
    </div>

    <div class='row'>
        <div class='left_content col'>
            {% block leftContent %}{% endblock %}
        </div>

        <div class='main_content col'>
            {% block mainContent %}{% endblock %}
        </div>

        <div class='right_content col'>
            {% block rightContent %}{% endblock %}
        </div>
    </div>

    <div class='footer row'>
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>
